@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-btn {
    padding: 0px 10px;
    font-size: 1rem;
    color: rgba(222, 222, 222, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .nav-btn:hover:not(.active) {
    color: #dedede;
    transform: scale(1.1);
  }

  .nav-btn.active {
    color: white;
  }

  .hidden {
    display: none;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
  }

  .highlight-gradient {
    background: linear-gradient(90deg, #9b59b6 0%, #3498db 100%);
    text-shadow: 0px 0px 8px rgba(155, 89, 182, 0.2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }

  .skill {
    aspect-ratio: 1 / 1;
    margin: 0.5rem;
    width: 5rem;
    transition: all 0.3s ease;

    @media (min-width: 640px) {
      width: 3rem;
    }
    @media (min-width: 768px) {
      width: 4rem;
    }
    @media (min-width: 1024px) {
      width: 4rem;
    }
    @media (min-width: 1280px) {
      width: 5rem;
    }
  }

  .skill:hover {
    transform: scale(1.1);
  }

  .skill-basic {
    aspect-ratio: 1 / 1;
    margin: 0.5rem;
    width: 5rem;
    transition: all 0.3s ease;
    opacity: 0.3;

    @media (min-width: 640px) {
      width: 3rem;
    }
    @media (min-width: 768px) {
      width: 4rem;
    }
    @media (min-width: 1024px) {
      width: 4rem;
    }
    @media (min-width: 1280px) {
      width: 5rem;
    }
  }

  .skill-basic:hover {
    transform: scale(1.1);
  }
}
